:root {
    --green: #008000;
    --black: #000000;
    --white: #eee;
    --blue: #0000FF;
    --grey: grey;
    --black-25:#000000;
    --greyish: #b8b8b8;
    --red: #E8222E;
    --lipstick: #e8222e;
    --forest-green: #228B22;


    --font-roboto: Roboto;
    --font-size: 16px;

}