.collapse {
  align-items: left;
}
.navbar-nav {
  align-content: start;
}

img {
  cursor: pointer;
}
.nav-link{
    color: var(--forest-green);
    font-weight: bold;
}

.nav-item :hover{
    background-color:var(--forest-green);
    color: #fff;
    border-radius: 10px;
}